body {
    min-width: 400px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #5f9341;
}

button {
    width: 130px;
    cursor: pointer;
    margin: 5px 0;
    background-color: #5f9341;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border:1px solid #5f9341;
}

#delete-btn{
    background-color: #ffffff;
    color: #5f9341;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}